@import "../../styles/variables";

.portfolioBackContainer {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 8;
}

.portfolioContainer {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
  padding: 10% 0 5%;
  min-height: max-content;
}

.tab {
  position: absolute;
  top: 0px;
  z-index: 8;
  background: $secondary-color;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 25px;

  transition: transform 1s linear;

  h2 {
    position: relative;
    z-index: 0;
    padding-top: 1%;
    font-size: 2.5em;
    color: #fff; /* Shorter color notation */
  }
}

@keyframes transformX {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.transformX50, .transformX0 {
  transition: transform 1s linear;
  height: auto;
  animation: transformX 1.5s ease-in-out forwards;
}

.transformX0 {
  animation-direction: reverse; /* Reverse animation direction for transformX0 */
}
