@import url('https://fonts.googleapis.com/css2?family=Anta&family=Ropa+Sans:ital@0;1&display=swap');

body, html {
  overflow-x: hidden;
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  
@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.loadingH1::after {
  content: '...'; /* Three dots */
  animation: blink 1s infinite; /* Apply the blinking animation */
  opacity: 0; /* Start with dots invisible */
}